@use "sass:map";

@import "@dugrema/millegrilles.reactjs/src/overrides.scss";
@import "~bootstrap/scss/bootstrap";
@import "@dugrema/millegrilles.reactjs/src/styles.scss";

/* Page applications */
.applications A {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.25rem;
    text-align: center;
    background: $second-color;
}

.liste-boutons DIV, 
.liste-boutons BUTTON {
    margin-right: 0.25rem;
    margin-bottom: 1rem;
}
.boutons.preauth {
    margin-top: 3rem;
}
.boutons.preauth button {
    margin-right: 1rem;
    width: 7rem;
}
$xsmall-width: map.get($grid-breakpoints, xs);
@media (min-width: $xsmall-width) {
    div.boutons.preauth .bouton-gauche { text-align: center; }
    div.boutons.preauth .bouton-droite { text-align: center; }  
}

.qr-code-background {
    background: #fff;
    padding: 0.3rem;
}

/* Overrides pour dropdowns */
.form-select:disabled {
    background-color: $second-color;
}

.dropdown-menu {
    background-color: $second-color;
}

.dropdown-item {
    background-color: $second-color;
}

.tor-nav {
    background: darkslateblue !important;
}

.tor-nav a {
    text-overflow: clip;
    word-wrap: break-word;
    word-break: break-all;
}

.code-activation button {
    font-size: larger;
    font-weight: 700;
    // color: seagreen;
    color: $third-color;
    text-decoration: none;
    text-align: left;
    padding: 0;
}

.code-activation-overlay {
    background-color: $second-color;
    position: absolute;
    padding: 1rem 3rem;
    border-radius: 3;
}

.code-instructions {
    font-size: smaller;
}

.usager {
    font-weight: 700;
}

.usager-proprietaire {
    color: forestgreen;
}

@media print {
    .no-print {
        display: none;
    }
}

.top-spacer-menu {
    position: sticky;
    top: 1rem;
    height: 2.7rem;
    width: 1rem;
    z-index: 0;
}
