.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.contenu {
  margin-top: 5em;
}

.footer {
  width: 100%;
  margin-top: 3em;
  padding: 1em;
  padding-bottom: 0.5em;
  min-height: 4em;
  color: White;
}

.footer H2 {
  font-size: 1.25rem;
  font-family: "Tahoma", sans-serif;
}

.footer div.row {
  padding-left: 1em;
  padding-right: 1em;
}

.footer A, .footer A:visited {
  color: White;
  text-decoration: underline;
}

.millegrille-footer {
  text-align: center;
  font-family: "Tahoma", sans-serif;
}

@media screen and (min-width: 768px) {
  .millegrille-footer {
    padding-top: 1em;
    font-size: 0.8rem;
  }

  .footer-center {
    text-align: center;
  }

  .footer-right {
    text-align: right;
  }

  .footer-fige {
    bottom: 0px;
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  .millegrille-footer {
    padding-top: 0.5em;
    font-size: 0.7rem;
  }

  .footer-right {
    text-align: center;
    padding-top: 0.5em;
  }
}

.idmg {
  font-size: small;
}

i.protege {
  color: green;
}

.menu-item > a, .menu-item > a:hover, .menu-item > a:focus {
  color: #fff;
}
